
body#background {
background: url("http://res.cloudinary.com/thcloud/image/upload/e_blur:100,fl_keep_iptc,q_58/v1500437125/Job%20Journal%20Background.jpg") no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}


header {
    color:#897C80;
}

#login {
  margin: 0 auto;
  position: fixed;
  top: 30%;
  left: 20%;
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 350px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #897C80;
  background: inherit;
  border-radius: 10px;
}
 .topbar .input {
  display: block;
  width: 100%;
  position: relative;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1em;
  font-weight: bold;
  background: transparent;
  border-top: 1px solid #897C80;
  border-left: 1px solid #897C80;
  border-bottom: 1px solid #897C80;
  border-right: 1px solid #897C80;
  margin-bottom: 25px;
  color: white;
  padding: 10px 20px;
}

.submit, #logOut {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.5em;
  font-family: Raleway;
  font-weight: 200;
  display: block;
  color: white;
  position: relative;
  border: 1px solid #897C80 ;
  background: #897C80;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.container {
  width :100%;
}

#searchTerm, #searchLocation {
  padding: 10px;
  margin: 10px;
  border: 1px solid #897C80;
  border-radius: 12px;
  width: 30%;
}

