/* grid system*/
* {
    box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before, .row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6,.col-5, .col-7,.col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-3, .col-4, .col-6,.col-5,.col-7, .col-12 {
  width: 100%;
}
/*media query*/
@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

   .col-12 {
    width: 100%;
  }

  #searchTerm {
    max-width: 600px;
  }

  #searchLocation {
    max-width: 200px;
  }

  #searchButton {
    max-width: 200px;
  }
}

/*index page styling starts here*/
body#background {
  font-family: 'Roboto Condensed', Sans-Serif;
  font-size: 16px;
  background-color: #ffffff;
}

.indexHeader {
  border-bottom: 1px solid #000;
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
  color: #1A237E;
}

#tag {
  text-align: center;
}

#tag span, #brand {
  font-weight: bold;
  color: #3F51B5;
}

#description {
 font-family: 'Cabin', Sans-Serif;
 font-size: 16px;
 text-align: justify;
}

#open {
  padding: 10px;
  width: 80%;
  max-width: 100%;
  display: inline-block;
  color: white;
  position: relative;
  left: 40px;
  border: 1px solid #000;
  background: #3F51B5;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
}

/*app styling starts here*/
body#dashboard {
  font-family: 'Cabin', Sans-Serif;
  font-size: 16px;
  background-color: #ffffff;
}

#logo {
  display: block;
  margin: 0 auto;
  background: none;
  background-color: #3F51B5;
  color: white; 
  border-radius: 12px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', Sans-Serif;
  font-size: 13px;
  cursor: pointer;
  max-width: 100%;
  text-align: center;
}

#searchForm{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1000px;
}

#searchTerm, #searchLocation, #entry, #listEntry {
  padding: 10px;
  margin: 10px;
  border: 1px solid #3F51B5;
  border-radius: 12px;
}

#searchTerm {
  display:inline-block;
  width: 300px;
}

#searchLocation {
  display: inline-block;
  width: 300px;
}

#searchButton {
  display: inline-block;
  padding: 10px;
  background: #3F51B5;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  width: 300px;
}

.hidden {
  display:none;
}

#results {
  vertical-align: top;
  margin: 25px auto;
  border-radius: 12px;
  overflow-x: auto;
  font-family: 'OverPass', Sans-Serif;  
  height: 500px;
  }
  
.result-entry {
    padding: 10px;
    margin: auto;
    text-align:left;
}
  
.result-card {
    background-color: white;
    border: solid 1px #3F51B5;
    border-radius: 12px;
    margin: 5px;
}

 #noteHeader {
    font-size: 21px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#toDoBox {
  border: 1px solid #3F51B5;
  border-radius: 12px;
  padding: 20px;
  height: 300px;
  margin-bottom: 10px;
  overflow-y: auto;
  background-color: #FFFDE7;
}

#toDoHeader {
  border-bottom: 1px dashed #3F51B5;
  text-align: center;
}

#listBox {
  border: 1px solid #3F51B5;
  border-radius: 12px;
  padding: 20px;
  height: 300px;
  margin-bottom: 10px;
  overflow-y: auto;
  background-color: #FFFDE7;
}

#listHeader {
  border-bottom: 1px dashed #3F51B5;
  text-align: center;
  margin: 0;
}

#entry, #listEntry {
  width: 60%;
  margin: 10px;
}

#addButton, .check, .delete, .buttons {
  margin: auto;
  margin-top: 10px;
  background: none;
  border: 0px;
  color: #1A237E;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.task_checked {
  text-decoration: line-through;
}

.list, .any-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 16px;
  text-indent: -16px;
  text-align: left;
}

li:before {
  content: "o";
  padding-right: 5px;
}

#calendarHeader {
  font-size: 21px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#calendar {
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  border: solid 1px #3F51B5;
  z-index: 3;
}

#createEvent {
  display:inline-block;
  margin-left: 30px;
}

#timeSlot {
  display:inline-block;
  margin: 0 0 10px 0px;
}

#timeSlot label {
  display: inline-block;
}
#eventTime {
  display:inline-block;
}
#eventName {
  border: 1px solid #3F51B5;
  border-radius: 6px ;
  background-color: white;
  max-width: 60%;
}
.modal {
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modalContent {
  width: 480px;
  max-width: 100%;
  height: 160px;
  max-height: 100%;
  display:block;
  background-color: white;
  margin: auto;
  border: 1px solid #3F51B5;
  border-radius: 12px;
  z-index: 4;
  margin-top: 10px;
}
.modalContent h3 {
  text-align: center;
}
.hidden {
  display:none;
}
.close {
margin-top: 0px;
margin-right: 5px;
padding: 0px;
float: right;
font-weight: bold;
font-size: 25px;
cursor: pointer;
text-decoration: none;
}