* {
    box-sizing: border-box;
}

body#background {
  background: url("http://res.cloudinary.com/thcloud/image/upload/e_blur:100,fl_keep_iptc,q_58/v1500437125/Job%20Journal%20Background.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  font-family: 'Annie Use Your Telescope', cursive;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  body#background {
    background: url("http://res.cloudinary.com/thcloud/image/upload/e_blur:100,fl_keep_iptc,q_58/v1500437125/Job%20Journal%20Background.jpg") no-repeat 50% 50% fixed;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  body#background {
    background: url("http://res.cloudinary.com/thcloud/image/upload/e_blur:100,fl_keep_iptc,q_58/v1500437125/Job%20Journal%20Background.jpg") no-repeat 50% 50% fixed;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
body#background {
    background: url("http://res.cloudinary.com/thcloud/image/upload/e_blur:100,fl_keep_iptc,q_58/v1500437125/Job%20Journal%20Background.jpg") no-repeat 50% 50% fixed;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
body#background {
    background: url("http://res.cloudinary.com/thcloud/image/upload/e_blur:100,fl_keep_iptc,q_58/v1500437125/Job%20Journal%20Background.jpg") no-repeat 50% 50% fixed;
  }
}

#summary {
  color: #565656;
}

header {
  color: ;
  font-weight: bolder;
  margin:0;
  padding: 30px;
}

#login {
  margin: 0 auto;
  display:block;
  vertical-align: middle;
  width: 300px;
  padding: 20px;
  border: 1px solid #C09F80;
  border-radius: 10px;
  background: inherit;
}

 .topbar #password {
  display: inline-block;
  position:relative;
  width: 90%;
  border-radius: 6px;
  font-size: 1.5em;
  font-weight: bold;
  background: transparent;
  border: 1px solid #C09F80;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
}

#submit {
  padding: 10px;
  width: 100%;
  font-size: 1.5em;
  font-weight: 200;
  display: inline-block;
  color: white;
  position: relative;
  border: 1px solid #C09F80;
  background: #76323F;
  border-radius: 6px;
  cursor: pointer;
}


#logOut, #addTask, .check, .delete {
  margin: auto;
  margin-top: 3em;
  background: none;
  border: 0px;
  color: #897C80;
  font-size: 15px;
  cursor: pointer;
}
.task_checked {
  text-decoration: line-through;
}

.list {
  list-style: none;
}

.container {
  width :100%;
  display: block;
  text-align: center;
}

#results {
display:inline-block;
text-align:left;
max-width: 40%;
vertical-align: top;
margin: 25px auto;
overflow-x: auto;
height: 800px;
}

#right-div {
display:inline-block;
text-align: center;
max-width: 40%;
margin: 25px auto;
height: 800px;
}

.result-entry {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #897C80;
  border-top: none;
  border-bottom: none;
}

#searchTerm, #searchLocation, #entry {
  padding: 10px;
  margin: 5px;
  border: 1px solid #897C80;
  border-top: none;
  border-bottom: none;
  border-radius: 12px;
  width: 30%;
}

#searchForm{
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

#calendar {
  margin-top: 30px;
}